# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RPG Modular Character.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Felipe Ishimine\Documents\RPG Modular Character\.idea\.idea.RPG Modular Character\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
